# Environnement
NODE_ENV=development

# Base de données
DATABASE_URL=postgresql://dev_user:dev_password_local@localhost:5432/mon_moniteur_db?schema=public

# Redis
REDIS_URL=redis://localhost:6379

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-change-in-production

# API Backend
NEXT_PUBLIC_API_URL=http://localhost:3001

# JWT
JWT_SECRET=your-jwt-secret-change-in-production

# Logs
LOG_LEVEL=debug
